.card {
    margin-top: 40px;
    padding: 20px 0;
    h3 {
        font-size: 24px;
        letter-spacing: 2px;
        color: $dark-grey2;
        font-weight: 600;
        padding-bottom: 43px;
        position: relative;
        &:after {
            position: absolute;
            content: '';
            width: 40px;
            height: 3px;
            bottom: 20px;
            left: 0;
            @include gradient();
        }
    }
    p {
        font-size: 14px;
        letter-spacing: 0;
        line-height: 24px;
        color: $dark-grey3;
    }
    &.inverse {
        background: $dark-grey;
        border-radius: 4px;
        padding: 20px;
        h3 {
            color: $white;
        }
        p {
            color: $white;
        }
    }
}
