.client-login {
    @include card-base();
    .title {
        font-weight: bold;
        font-size: 24px;
        line-height: 36px;
        letter-spacing: 0;
        color: $dark-grey2;
        margin-bottom: 20px;
    }
    .actions {
        margin-top: 46px;
        > .btn {
            display: block;
            width: 100%;
        }
    }
}
