.copyright {
    background: $dark-grey;
    font-size: 12px;
    color: $dark-grey4;
    text-align: center;
    padding: 14px 0px 10px 0px;
    position: relative;
    &:after {
        @include gradient();
        position: absolute;
        content: '';
        height: 4px;
        width: 100%;
        top: 0;
        right: 0;
        left: 0;
    }
}
