
.container {
    width: 100%;
    padding-right: 10px;
    padding-left: 10px;
    margin-right: auto;
    margin-left: auto;
}
.contaier:after,
.row:after {
    content: "";
    display: table;
    clear: both;
}
[class*='col-'] {
    float: left;
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
    min-height: 1px;
}
.row {
    margin-right: -10px;
    margin-left: -10px;
}
@media #{$grid-breakpoint-xs} {
    .container {
        width: 100%;
        max-width: $grid-max-width;
    }
    @for $i from 1 through $grid-columns {
        .col-xs-#{$i} {
            width: 100% / $grid-columns * $i;
        }
    }
}
@media #{$grid-breakpoint-sm} {
    .container {
        width: 100%;
        max-width: $grid-max-width;
    }
    @for $i from 1 through $grid-columns {
        .col-sm-#{$i} {
            width: 100% / $grid-columns * $i;
        }
    }
}
@media #{$grid-breakpoint-md} {
    .container {
        width: 100%;
        max-width: $grid-max-width;
    }
    @for $i from 1 through $grid-columns {
        .col-md-#{$i} {
            width: 100% / $grid-columns * $i;
        }
    }
}
@media #{$grid-breakpoint-lg} {
    .container {
        width: 100%;
        max-width: $grid-max-width;
    }
    @for $i from 1 through $grid-columns {
        .col-lg-#{$i} {
            width: 100% / $grid-columns * $i;
        }
    }
}
