// Float
.float-left {
    float: left;
}
.float-right {
    float: right;
}
.clearfloat {
    clear: both;
}
// Text align
.text-center {
    text-align: center;
}
.text-left {
    text-align: left;
}
.text-right {
    text-align: right;
}
// Paddings
.pl-0 {
    padding-left: 0;
}
.pr-0 {
    padding-left: 0;
}
