@mixin border-box {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; 
}

@mixin gradient() {
    background: rgb(218,0,197);
    background: linear-gradient(90deg, rgba(218,0,197,1) 0%, rgba(69,10,181,1) 100%);
}

@mixin card-base() {
    background: $white;
    border-radius: 4px;
    padding: 20px;
    margin-top: 40px;
    -webkit-box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.1);
    box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.1);
}
