// Main app variables
$main-background: #f5f5f5;
$top-menu-height: 80px;
// Colors
$white: #ffffff;
$black: #000000;
$purple: #6b28d7;
$red: #b71c1c;
$dark-grey: #151515;
$darker-grey: #555555;
$dark-grey2: #111111;
$dark-grey3: #333333;
$dark-grey4: #a5a5a5;
$light-grey: #f0f0f0;
$light-grey2: #efefef;
$light-grey3: #e6e6e6;
$light-grey4: #c0c0c0;
$light-grey5: #dfdfdf;
$light-grey6: #fafafa;
$light-grey7: #eaeaea;

// Grid variables
$grid-columns: 12;
$grid-max-width: 1120px;
$grid-breakpoint-xs: "only screen and (min-width: 0px)";
$grid-breakpoint-sm: "only screen and (min-width: 480px)";
$grid-breakpoint-md: "only screen and (min-width: 768px)";
$grid-breakpoint-lg: "only screen and (min-width: 1120px)";
